{% include "navbar.html" %}

<div class="login-box">
    <h2>📊 Hisobotlar</h2>

    <form method="POST">
        <label>Dan:</label>
        <input type="date" name="date_from" required>

        <label>Gacha:</label>
        <input type="date" name="date_to" required>

        <button type="submit">📅 Ko‘rish</button>
    </form>

    <hr>

    <table border="1" width="100%" cellpadding="6">
        <tr>
            <th>Kompaniya</th>
            <th>Direktor</th>
            <th>Jami xarajat</th>
        </tr>
        {% for r in reports %}
        <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }} so‘m</td>
        </tr>
        {% endfor %}
    </table>
</div>
