<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Direktorlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% include "navbar.html" %}

<h1>👔 Direktorlar</h1>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Kompaniya</th>
        <th>Yaratilgan sana</th>
    </tr>

    {% for d in directors %}
    <tr>
        <td>{{ d[0] }}</td>

        <!-- 👇 BOSILADIGAN LOGIN -->
        <td>
            <a href="{{ url_for('admin_director_detail', director_id=d[0]) }}">
                {{ d[1] }}
            </a>
        </td>

        <td>{{ d[2] }}</td>
        <td>{{ d[3] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
