<!DOCTYPE html>
<html>
<head>
    <title>Sana bo‘yicha xarajatlar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% include "navbar.html" %}

<div class="login-box">
    <h2>📆 Sana bo‘yicha xarajatlar</h2>

 <form method="POST">
    <input type="number" name="amount" placeholder="Summa" required>
    <input type="text" name="description" placeholder="Izoh" required>
    <button type="submit">➕ Xarajat qo‘shish</button>
</form>


    {% if expenses %}
    <table border="1" width="100%" cellpadding="6">
        <tr>
            <th>Kompaniya</th>
            <th>Summa</th>
            <th>Izoh</th>
            <th>Sana</th>
        </tr>
        {% for e in expenses %}
        <tr>
            <td>{{ e[0] }}</td>
            <td>{{ e[1] }} so‘m</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

</body>
</html>
