{% include "navbar.html" %}

<div class="login-box">
    <h2>Xarajat qo‘shish</h2>

    <form method="POST">
        <input type="number" name="amount" placeholder="Summa" required>
        <input type="text" name="description" placeholder="Izoh" required>
        <button type="submit">Qo‘shish</button>
    </form>

    <hr>

    <h3>Mening xarajatlarim</h3>
    <ul>
        {% for e in expenses %}
            <li>{{ e[0] }} so‘m — {{ e[1] }} ({{ e[2] }})</li>
        {% endfor %}
    </ul>
</div>
