{% include "navbar.html" %}

<div class="login-box">
    <h2>🧾 Xarajat kiritish</h2>

    <p><b>Qolgan balans:</b> {{ balance }} so‘m</p>

    <form method="POST">
        <input type="number" name="amount" placeholder="Xarajat summasi" required>
        <input type="text" name="description" placeholder="Izoh" required>
        <button type="submit">➕ Qo‘shish</button>
    </form>

    <hr>

    <h3>📋 Xarajatlar tarixi</h3>

    <table border="1" width="100%" cellpadding="6">
        <tr>
            <th>Summa</th>
            <th>Izoh</th>
            <th>Sana</th>
        </tr>
        {% for e in expenses %}
        <tr>
            <td>{{ e[0] }} so‘m</td>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
