<nav class="navbar">
    <!-- LEFT -->
    <div class="nav-left">
        <span class="logo">🏢</span>
        <span class="brand">Company Accounting</span>
    </div>

    <!-- BURGER (mobile) -->
    <div class="burger" onclick="toggleMenu()">☰</div>

    <!-- CENTER MENU -->
    <div class="nav-center" id="navMenu">
        <a href="{{ url_for('dashboard') }}">🏠 Bosh sahifa</a>

        {% if session.get("role") == "admin" %}
            <a href="{{ url_for('admin_companies') }}">🏢 Kompaniyalar</a>
            <a href="{{ url_for('admin_directors') }}">👤 Direktorlar</a>
            <a href="{{ url_for('admin_expenses') }}">💸 Xarajatlar</a>
        {% else %}
            <a href="{{ url_for('expenses') }}">💸 Xarajatlarim</a>
        {% endif %}

  
    </div>

    <!-- RIGHT -->
    <div class="nav-right">
        <span class="icon">🔔</span>
        <span class="user">👤 {{ session.get("user") }}</span>
        <a href="{{ url_for('logout') }}" class="logout">🚪 Chiqish</a>
    </div>
</nav>

<script>
function toggleMenu() {
    document.getElementById("navMenu").classList.toggle("open");
}
</script>
